RewriteEngine On
RewriteBase /financial/

# Skip if file or folder exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Send everything else to router.php
RewriteRule ^([a-zA-Z0-9_-]+)$ router.php?slug=$1 [L,QSA]
